# Embedded FoamFix access transformer entries.

public net.minecraft.client.renderer.chunk.ChunkRenderWorker func_178474_a(Lnet/minecraft/client/renderer/chunk/ChunkCompileTaskGenerator;)V
public net.minecraft.client.renderer.RenderGlobal func_184385_a(IIIIIIZ)V
